#destaques{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 208px;
  gap:16px;
}

.box{
  border: solid;
}

.a{
  grid-column: 1/3;
  grid-row: 1/3;
}

.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

main section{
  margin-bottom: 80px;
}

main section + section a{
  display: flex;
  gap: 16px;
}

#noticias{
  display: flex;
  justify-content: space-between;
}

#noticias p{
  display: block;
}